* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: #e6d205;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  z-index: 100;
}

.Logo img {
  flex-grow: 1;  
  max-height: 500px;
}

.titulo {
  flex-grow: 6;  
  text-align: center;
}

.nav {
    flex-grow: 2;
    text-align: right;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.nav a {
  text-decoration: none;
  color: #e6d205;
}

.main {
    display: flex;
    justify-content: center;
    font-size: 15px; 
    color: black;
    margin: 0px;
}


body {
  background-color: #383838;
  font-family: "DM Serif Text", serif;
  font-style: normal;
}


/* RESEÑAS*/

.reseñas {
  display: grid;
  margin: 10px;
  font-style: italic;
}

.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.card {
  flex: 0 1 calc(33.33% - 11px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  margin: 5px; 
  padding: 15px; 
  border-radius: 15px; 
  background-color: #5e5e5e;
  text-align: center;
}

.image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 60%;
  margin: 0 auto 20px;
}

.image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.name {
  font-weight: bold;
  margin: 10px 0;
}
.review {
  color: #e4e4e4;
  font-size: 14px;
  line-height: 1.5;
}

/* PRODUCTOS*/

.product-container {
  display: flex;
  justify-content: center;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-card p {
    font-size: 1em;
    margin: 10px 0;
}


.product-card img {
  width: 200px; 
  height: 200px; 
  object-fit: cover; 
  object-position: center;
  border-radius: 10px; 
}

.product-card button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-card button:hover {
    background-color: #218838;
}

.product-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 padding: 10px;
}

.product-card {
 background: #5e5e5e;
 border-radius: 10px;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 margin: 10px; 
 padding: 20px;
 text-align: center;
 width: calc(33.33% - 20px);
 transition: transform 0.2s;
}

.product-card:hover {
 transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: center;  
  align-items: stretch;
  background-color: #e6d205;
  position: sticky;
  bottom: 0;
  z-index: 100;
  width: 100%;
  height: 45px;
  color: black;
}

/* Media Queries */
@media (max-width: 768px) {
 .product-card {
  width: calc(50% - 20px); 
 }
 .container {
   grid-template-columns: repeat(2, 1fr); 
 }
}

@media (max-width: 480px) {
 .product-card {
  width: 90%;
 }
 .container {
   grid-template-columns: 1fr; 
 }
}

